.game__gameboard-wrapper {
    height: 55vh;
    background-color: rgb(250, 250, 250);


    .gameboard {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;


        &__row {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            flex-wrap: wrap;
            width: 1000px;
            margin: 0 auto;
            // border: 2px solid black;

            &--block {
                margin: 1px;
                width: 80px;
                height: 80px;
                border: 2px solid black;
            }
        }

        &__row:nth-of-type(even) {
            transform: rotate(180deg);


        }
    }


}