.game__gameboard-wrapper {
    min-height: 500px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .gameboard {
        width: 1050px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 2px solid #4f6e4f;
        background-color: rgb(250, 250, 250);

        &__row {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            width: 1050px;
            margin: 0 auto;

            &--block {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                margin: 3px 3px;
                width: $board-block-size;
                height: $board-block-size;
                border: 2px solid #4f6e4f;

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2rem;
                    opacity: 0.2;
                    user-select: none;
                }

                .player {
                    flex-basis: 50%;
                    height: 50%;
                    background-color: rgb(255, 82, 82);
                    border-radius: 50%;
                    z-index: 1;
                }

                .player1 {
                    background-color: rgb(99, 82, 255);
                }

                .player2 {
                    background-color: rgb(243, 255, 82);
                }

                .player3 {
                    background-color: rgb(200, 82, 255);
                }

            }

            .start {
                background-color: rgb(199, 199, 199);
            }

            .win {
                background-color: #f1f1f1;
            }

            .forest {
                background-color: #b0dab1;
            }

            .city {
                background-color: #c2c2a5;
            }

            .swamp {
                background-color: #7aa079;
            }

            .castle {
                background-color: #a6a5c2;
            }

            .hell {
                background-color: #c2a5a5;
            }


        }

        &__row:nth-of-type(even) {
            transform: rotate(180deg);

            p {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }


}