.game {
    height: 100vh;
    min-width: 1050px;
    display: flex;
    flex-direction: column;
    background-color: #C9E3CA;
    overflow: hidden;



    .game__warning {
        width: 90%;
        height: 200px;
        position: fixed;
        top: 50%;
        left: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: #532f0c;

        p {
            font-size: 3.5rem;
            color: white;
            user-select: none;
            padding: 0 30px;
        }

        .fa-xmark {
            position: absolute;
            right: 30px;
            top: 20px;
            font-size: 3.5rem;
            color: white;
            cursor: pointer;
        }
    }

    .game__warning.active {
        display: flex;
    }


    .game__msg-board {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        z-index: 11;
        transform: translateX(-50%);
        background-color: #935F2C;
        transition: 0.5s ease-out;

        .game__msg-board-message {
            margin: auto;
            padding: 100px 150px;
            font-size: 4.5rem;
            color: white;
            user-select: none;

            border: 5px solid white;
        }
    }

    .game__msg-board.active {
        transform: translateX(100%);
    }
}