.game {
    height: 100vh;
    // min-width: 1050px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;

    .game__warning {
        width: 75%;
        display: flex;
        position: fixed;
        top: 110%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, 0);
        z-index: 11;
        background-color: #532f0c;
        transition: 0.4s ease-out;

        @media (max-width:420px) {
            width: 90%;
        }

        &-message {

            font-size: 3.5rem;
            color: #F5DEB3;
            user-select: none;
            padding: 50px 80px;

            @media (max-width:1024px) {
                font-size: 3rem;
                padding: 40px 60px;
            }

            @media (max-width:420px),
            (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                font-size: 1.4rem;
                padding: 20 30px;
            }
        }

        &-btn {
            position: absolute;
            right: 5%;
            top: 20%;
            font-size: 3.5rem;
            color: #F5DEB3;
            cursor: pointer;

            @media (max-width:420px),
            (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                font-size: 2rem;
            }
        }


    }


    .game__warning--popup {
        padding: 40px 0;

        @media (max-width:1024px) {
            padding: 30px 0;
        }

        @media(max-width:420px),
        (max-width:920px) and (max-height:500px) and (orientation:landscape) {
            width: 95%;
            padding: 15px 0;
        }

        &-title {
            padding: 35px 20px;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 3.5rem;
            color: #ffdd1b;

            @media (max-width:1280px) {
                font-size: 3rem;
            }

            @media (max-width:1024px) {
                font-size: 2.6rem;
            }

            @media (max-width:420px),
            (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                font-size: 1.5rem;
                padding: 20px 10px;
            }

        }

        &-message {
            width: 100%;
            font-size: 3rem;
            padding: 0 50px;

            @media (max-width:1280px) {
                font-size: 2.6rem;
            }

            @media (max-width:1024px) {
                font-size: 2.2rem;
            }


            @media (max-width:420px),
            (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                font-size: 1.2rem;
            }

            span {
                padding: 0;
                color: #ff3d1b;

                @media (max-width:1280px) {
                    font-size: 2.6rem;
                }

                @media (max-width:1024px) {
                    font-size: 2.2rem;
                }



                @media (max-width:420px),
                (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                    font-size: 1.3rem;
                }
            }

            .game__warning--popup-btnPanel {
                padding: 20px 0;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;

                @media (max-width:420px),
                (max-width:920px) and (max-height:500px) and (orientation:landscape) {

                    padding: 10px 0;


                }

                .game__warning--popup-btn {
                    display: block;
                    width: 30%;
                    padding: 10px 20px;
                    margin-top: 15px;
                    font-size: 2rem;
                    background: transparent;
                    border: 2px solid #F5DEB3;
                    color: #F5DEB3;
                    font-family: 'Eagle Lake', cursive;
                    cursor: pointer;

                    @media (max-width:1024px) {
                        padding: 5px 10px;
                    }

                    @media (max-width:420px),
                    (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                        width: auto;
                        padding: 5px;
                        font-size: 1rem;

                    }



                }
            }

        }

        .game__warning-btn {
            padding: 0;
            right: 7%;
            top: 7%;

            @media (max-width:420px),
            (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                font-size: 2rem;
            }
        }

        .game__warning--popup-message.endingBoard {
            padding: 90px 80px;
            font-size: 4.5rem;
            text-align: center;

            @media (max-width:420px),
            (max-width:920px) and (max-height:500px) and (orientation:landscape) {
                font-size: 3rem;
                padding: 60px 40px;
            }
        }
    }



    // apear when warning show up
    &__popup-bg {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.20);
        z-index: 10;
        user-select: none;

        .game__popup-img {
            height: 80px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            display: none;
            user-select: none;

            @media (max-width:1280px) {
                height: 60px;
            }
        }

        .game__popup-img.active {
            display: block;
            animation: rotation 0.9s infinite;

            @keyframes rotation {
                100% {
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }
        }
    }

    &__popup-bg.active {
        display: block;

    }

    .game__warning.active {
        top: 50%;
        transform: translate(-50%, -50%);
    }


}