.game {
    height: 100vh;
    min-width: 1050px;
    display: flex;
    flex-direction: column;
    background-color: #C9E3CA;
    overflow: hidden;



    .game__warning {
        width: 75%;
        display: flex;
        position: fixed;
        top: 100%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, 0);
        z-index: 11;
        background-color: #532f0c;
        transition: 0.4s ease-out;

        &-message {

            font-size: 3.5rem;
            color: #F5DEB3;
            user-select: none;
            padding: 50px 30px;

        }

        .fa-xmark {
            position: absolute;
            right: 30px;
            top: 20px;
            font-size: 3.5rem;
            color: #F5DEB3;
            cursor: pointer;
        }

        .game--greeting {
            font-size: 3.2rem;
            padding: 20px 40px;

            &-title {
                display: block;
                width: 100%;
                text-align: center;
                margin: 10px 0;
                font-size: 3.5rem;
                color: #ffdd1b;
            }

            span {
                padding: 0;
                color: #ff3d1b;
            }
        }
    }


    // apear when warning show up
    &__popup-bg {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.20);
        z-index: 10;
        user-select: none;

        .game__popup-img {
            height: 80px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            display: none;
            user-select: none;
        }

        .game__popup-img.active {
            display: block;
            animation: rotation 0.9s infinite;

            @keyframes rotation {
                100% {
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }
        }
    }

    &__popup-bg.active {
        display: block;

    }

    .game__warning.active {
        top: 50%;
        transform: translate(-50%, -50%);
    }


    .game__msg-board {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        z-index: 11;
        transform: translateX(-50%);
        background-color: #935F2C;


        .game__msg-board-message {
            margin: auto;
            padding: 100px 150px;
            font-size: 4.5rem;
            color: white;
            user-select: none;

            border: 5px solid white;
        }
    }

    .game__msg-board.active {
        transform: translateX(100%);
    }
}