.game__gameboard-wrapper {
    min-height: 500px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .gameboard {
        width: 1050px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 2px solid #4f6e4f;
        background-color: rgb(250, 250, 250);

        &__row {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            width: 1050px;
            margin: 0 auto;

            &--block {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                margin: 3px 3px;
                width: $board-block-size;
                height: $board-block-size;
                border: 2px solid #4f6e4f;

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2rem;
                    opacity: 0.2;
                    user-select: none;
                }

                .player {
                    position: absolute;
                    display: flex;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 50%;
                    background-color: rgb(255, 82, 82);
                    border-radius: 50%;
                    z-index: 1;
                    transition: 0.2s;


                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -40%);
                        font-size: 3rem;
                        color: white;
                        font-family: 'MedievalSharp', cursive;
                        z-index: -1;
                        opacity: 0;
                        transition: 0.2s 0.2s;
                    }
                }

                .player:hover {
                    transform: scale(1.5);
                    z-index: 10;


                    p {
                        opacity: 1;
                    }
                }

                .player1 {
                    background-color: rgb(99, 82, 255);
                    top: 0;
                    left: 50%;
                }

                .player2 {
                    background-color: rgb(252, 209, 68);
                    top: 50%;
                    left: 50%;
                }

                .player3 {
                    background-color: rgb(200, 82, 255);
                    top: 50%;
                    left: 0;
                }



                .player4 {
                    background-color: rgb(49, 218, 72);
                    top: 25%;
                    left: 50%;
                }

                .player5 {
                    background-color: rgb(107, 107, 107);
                    top: 25%;
                    left: 0;
                }


            }

            .start {
                background-color: rgb(199, 199, 199);
            }

            .win {
                background-color: #f1f1f1;
            }

            .forest {
                background-color: #96c494;
            }

            .village {
                background-color: #ecd2a1;
            }

            .swamp {
                background-color: #5f855e;
                color: white;
            }

            .mountain {
                background-color: #b9b8d8;
            }

            .dragonsCave {
                background-color: #e95151;
            }

            .graveyard {
                color: white;
                background-color: #7a7a7a;
            }

            .temple {

                background-color: #c4ecf3;
            }


        }

        &__row:nth-of-type(even) {
            transform: rotate(180deg);

            p {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }


}