.game__hud-wrapper {
    position: relative;
    background-color: #F5DEB3;
    border-top: 3px solid #935F2C;


    .hud {
        height: 20vh;
        display: flex;

        @media (max-width:420px) {
            height: 30vh;
        }

        @media (max-width:920px) and (max-height:420px) and (orientation:landscape) {
            height: 25vh;
        }

        .current-player {
            height: 100%;
            width: 200px;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: 1.8rem;
            color: #935F2C;
            border-right: 3px solid #935F2C;

            @media (max-width: 1024px) {
                width: 300px;
                height: 60px;
                padding: 5px;
                position: absolute;
                top: -30%;
                left: 50%;
                border-radius: 10% 10% 0 0;
                transform: translateX(-50%);
                font-size: 1.3rem;
                border: none;
                z-index: 0;
            }

            @media (max-width:768px) {
                top: -50%;
            }

            @media (max-width:420px) {
                top: -30%;
            }

            @media (max-width:920px) and (max-height:420px) and (orientation:landscape) {
                top: -60%;
                left: 12%;
                font-size: 1.1rem;
            }
        }


        .screen {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            width: 55%;
            height: 90%;
            background-color: #f3f3f3;
            border: 3px solid #935F2C;
            border-radius: 5%;

            @media (max-width: 1024px) {
                left: 2%;
                transform: translateY(-50%);
            }

            @media (max-width:420px) {
                top: 42%;
                left: 2;
                width: 96%;
                height: 80%;
            }

            @media (max-width:920px) and (max-height:420px) and (orientation:landscape) {
                width: 65%;
            }

            &__text {
                padding: 20px;
                font-size: 1.8rem;

                @media (max-width: 1280px) {
                    font-size: 1.5rem;
                }

                @media (max-width: 768px) {
                    padding: 10px;
                    font-size: 1.3rem;
                }

                @media (max-width:920px) and (max-height:420px) and (orientation:landscape) {
                    font-size: 1.1rem;
                    padding: 7px;
                }

            }

            &__comment {
                position: absolute;
                left: 20px;
                bottom: 20px;
                font-size: 2rem;

                @media (max-width: 1280px) {
                    font-size: 1.7rem;
                    bottom: 10px;
                }

                @media (max-width: 768px) {
                    left: 10px;
                    bottom: 7px;
                    font-size: 1.3rem;
                }

                @media (max-width:920px) and (max-height:420px) and (orientation:landscape) {
                    font-size: 1.1rem;
                    left: 7px;
                }

            }

            &__comment.vbad {
                color: #0f0f0f;
                text-shadow: 0px 0px 10px #be0a0a;
            }

            &__comment.bad {
                color: #d43939;
            }

            &__comment.neutral {
                color: #8b8b8b;
            }

            &__comment.good {
                color: #2fbb32;
            }

            &__comment.vgood {
                color: #b9bb35;
                text-shadow: 0px 0px 10px #e4e720
            }



        }

    }


}