.game__menu-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    transform: translateY(0);
    background-color: #8fc090;
    // transition: 0.5s ease-out;

    .menu {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 15px solid #F5DEB3;
        border-right: 15px solid #F5DEB3;
        background-color: #935F2C;


        &__logo {
            width: 80%;
            margin: 60px 0;
            font-size: 3rem;
            text-align: center;
            color: #F5DEB3;

        }

        .menu__settings-wrapper {
            margin-top: 50px;
            display: flex;
            flex-direction: column;


            .menu__settings {
                display: flex;
                align-items: center;
                margin: 20px 0;
                font-size: 2rem;
                color: #F5DEB3;


                &-title {
                    margin-right: 20px;
                }

                &-btn {
                    margin: 0 5px;
                    width: $menu-btn-size;
                    height: $menu-btn-size;
                    font-size: 1.9rem;
                    background-color: #F5DEB3;
                    border: 3px solid #F5DEB3;
                    color: #935F2C;
                    border-radius: 50%;
                    text-align: center;
                    line-height: calc($menu-btn-size - 3px);
                    font-weight: 700;
                    transition: 0.2s;
                    cursor: pointer;


                }

                &-btn:hover {
                    color: white;
                    background-color: #935F2C;

                }

                &-btn.active {
                    color: white;
                    background-color: #935F2C;
                }
            }

        }

        &__buttons {
            margin-top: 60px;

            .start {
                display: block;
                width: 250px;
                padding: 20px 40px;
                font-size: 2.5rem;
                color: #F5DEB3;
                background-color: #532f0c;
                border: 3px solid #F5DEB3;

                border-radius: 5px;
                font-family: 'Eagle Lake', cursive;
                cursor: pointer;
            }
        }
    }




}



.game__menu-wrapper.active {
    transform: translateY(150%);
}