* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Eagle Lake', cursive;

    @media (max-width: 1300px) {
        font-size: 9.8px;
    }
}