.game__stats-wrapper {
    height: 180px;
    background-color: white;
    color: #935F2C;

    @media (max-width:800px) {
        height: auto;
    }


    .stats {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F5DEB3;
        border-bottom: 3px solid #935F2C;


        .stats__current-player {
            flex-basis: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 2rem;

            h2 {
                width: 100%;
                margin: 0 20px;
            }
        }


        .stats__players-stats {
            height: 100%;
            flex-basis: 75%;
            padding-left: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border-left: 3px solid #935F2C;

            @media (max-width:1200px) {
                flex-basis: 100%;
                margin-left: 20px;
                justify-content: space-evenly;
            }

            .player-stats {
                flex-basis: 25%;
                margin: 5px 0;
                display: flex;
                flex-wrap: wrap;
                font-size: 1.5rem;

                @media (max-width:800px) {
                    flex-basis: 50%;
                    font-size: 1.3rem;
                }

                .player-stats--flex {
                    display: flex;
                    flex-basis: 100%;
                }

                .player-stats__title {
                    margin-right: 10px;

                }

                .player-stats__title--main {
                    font-size: 2rem;
                }


                .player-stats__life {
                    flex-basis: 100%;
                    align-items: center;

                    .player-stats__bar {
                        height: 23px;
                        width: 65%;
                        background-color: white;
                        border-radius: 5%;
                        border: 1px solid #935F2C;

                        .player-stats__bar-fill {
                            height: 100%;
                            width: 100%;
                            background-color: #8fc090;
                            color: white;
                            text-align: center;
                            font-size: 1.2rem;
                            line-height: 21px;

                        }
                    }
                }

                .player-stats__potions {

                    .player-stats__potion {
                        width: 20px;
                        height: 20px;
                        color: red;
                        cursor: pointer;
                    }
                }


            }
        }
    }
}