.game__music {
    position: absolute;
    right: calc($btn-size - ($btn-right * 3 - $btn-size));
    bottom: 40px;
    z-index: 1;


    .volume-control {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;


        &__bar {
            position: relative;
            height: $volume-control-height;
            width: 180px;
            background-color: rgb(250, 250, 250);
            border: 2px solid #935F2C;



            .volume-control__handle {
                position: absolute;
                top: 50%;
                left: 20%;
                transform: translate(-50%, -50%);
                width: $volume-control-height;
                height: $volume-control-height;
                background-color: #935F2C;
                cursor: pointer;
                z-index: 4;
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: -27%;

            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #935F2C;
            z-index: 2;
        }

        &__icon:nth-child(1) {
            top: 50%;
            right: 100%;
            transform: translate(-50%, -50%);

        }
    }
}