.game__music {
    position: fixed;
    right: 98px;
    bottom: 40px;
    z-index: 1;


    .volume-control {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;



        &__bar {
            position: relative;
            height: 8px;
            width: 150px;
            background-color: rgb(250, 250, 250);
            border: 2px solid #935F2C;



            .volume-control__handle {
                position: absolute;
                top: 50%;
                left: 20%;
                transform: translate(-50%, -50%);
                width: 18px;
                height: 18px;
                background-color: #935F2C;
                border-radius: 15%;
                cursor: pointer;
                z-index: 4;
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: -34%;
            transform: translate(-50%, -50%);

            font-size: 2rem;
            color: #935F2C;
            z-index: 2;
        }

        &__icon:nth-child(1) {
            top: 50%;
            right: 101%;
            transform: translate(-50%, -50%);

        }
    }
}